<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 29.12.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is going to be my first post.</p>
        </div>

        <div>
            <p>published: 29.12.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>My second post, hope you like it.</p>
        </div>
    </body>
</html>